
.box-1{
    height: 700px;
    width: 700px;
    background-color: teal;
    border-radius: 50%;
    justify-content: center;
   
    
}
.box-2{
    height: 600px;
    width: 600px;
    background-color:deeppink;
    border-radius: 50%;
    
    position: absolute;
    left:55px;
    top: 60px;

    
    
    
}
.box-3{
    height: 500px;
    width: 500px;
    background-color:deepskyblue; 
    border-radius: 50%;
    position: absolute;
    left:100px;
    top: 110px;

    
}
.box-4{
    height: 400px;
    width: 400px;
    background-color:orange;
    border-radius: 50%;
    position: absolute;
    left:150px;
    top: 160px;
   
}
.box-5{
    height: 300px;
    width: 300px;
    background-color:rgb(94, 20, 255);
    border-radius: 50%;
    position: absolute;
    left:195px;
    top: 210px;
}
.box-6{
    height: 200px;
    width: 200px;
    background-color:rgb(0, 255, 140);
    border-radius: 50%;
    position: absolute;
    left:240px;
    top: 260px;
}
.box-7{
    height: 100px;
    width: 100px;
    background-color:rgb(21, 101, 138);
    border-radius: 50%;
    position: absolute;
    left:290px;
    top: 310px;
} 